#container{
    text-align: center;
    padding-top: 100px;
    border: 10% solid white;
    background-color: antiquewhite;
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 120px;
    padding-bottom: 100px;
    border-radius: 5%;
}
body{
    background-color: rgb(87, 87, 177);
    padding-left: 100px;
}
#para1{
    padding-top: 40px;
}
#button{
    border-radius: 2em;
    
}
    
